body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

.album-name {
    font-family: helvetica;
    font-size: 14px;
}

.artist-name {
    font-family: helvetica;
    font-size: 14px;
    font-weight: lighter;
}

.outer-wrapper {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
    align-self: center;
}

.inner-wrapper {
    width: 80vw;
    max-width: 900px;
    padding: 2%;
    align-self: center;
    justify-self: center;
}

.album-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5vh;
}

.album {
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: auto;
}

.album img {
    width: 100%;
    height: auto;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.artist-container {
    justify-self: center;
    align-self: center;
}

.btn-container {
    display: none;
}

/* TABLET */
@media (min-width: 668px) and (max-width:1024px) {
    .album-container {
        grid-template-columns: auto auto;
    }
}

/* DESKTOP */
@media (min-width: 1025px) {
    .album-container {
        grid-template-columns: auto auto auto auto;
    }

    .album {
        width: 210px;
    }

    a:hover {
        text-decoration: underline;
    }

    .cover-and-btns {
        
        position: relative;
    }
    
    .image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        color: transparent;
        transition: 0.5s ease;
    }
    
    .image-overlay:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s ease;
    }
    
    .btn-container {
        display: flex;
        position: absolute;
        top: 40%;
        left: 20% 
    }
    
    .btn {
        /* display: none; */
        width: 25%;
        mix-blend-mode: lighten;
        filter: invert(1);
        border: none !important;
        z-index: 1;
    }

    .play:hover {
        transform: scale(1.5);
    }
       
}
